<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What is AQI?</title>
    <style>
        body {
            background-color: #3238a8;
            color: white;
            font-family: Arial, sans-serif;
        }
        .container {
            margin-top: 50px;
        }
        h2 {
            text-align: center;
            background-color: #f5c116;
            padding: 10px;
        }
        p {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class='container'>
        <h2>WHAT IS AQI</h2>
        <p>
            AQI stands for Air Quality Index. It's a numerical scale used to communicate how polluted or clean the air is in a particular area at a given time. The AQI typically ranges from 0 to 500, with lower values indicating better air quality and higher values indicating worse air quality. Different countries may have their own versions of the AQI, but they generally measure common air pollutants like particulate matter (PM2.5 and PM10), ozone (O3), nitrogen dioxide (NO2), sulfur dioxide (SO2), and carbon monoxide (CO). AQI values are often categorized into ranges such as "good," "moderate," "unhealthy," "very unhealthy," and "hazardous" to help people understand the health implications of the current air quality.
        </p>
    </div>
</body>
</html>
