<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#f8faf3;">
{% include 'navbar.html' %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center bg-warning py-2">Contact Us</h2>
            <p>If you have any questions or inquiries, please feel free to reach out to us via email at
                <a href="#" class="text-danger">email@example.com</a>. We value your feedback and will respond promptly to assist you.</p>
            <p>If you have an environmental concern or wish to report pollution incidents in Kerala, you can submit a complaint directly to the Kerala State Pollution Control Board (KSPCB).
                <a href="https://kspcb.kerala.gov.in/complaint-registration" class="text-danger">Complaint Register</a>.</p>
        </div>
    </div>
</div>
</body>
</html>
