<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#3238a8;">
{% include 'navbar.html' %}
<h2 style="color:white;text-align:center;background-color: #f5c116;padding: 10px">Major Pollutants</h2>
<p style="color:white;">1. Particulate Matter (PM2.5 and PM10): These are tiny particles suspended in the air, with PM2.5 referring to particles with a diameter of 2.5 micrometers or smaller, and PM10 referring to particles with a diameter of 10 micrometers or smaller. PM2.5 particles are especially concerning because they can penetrate deep into the lungs and even enter the bloodstream, causing respiratory and cardiovascular problems.</p>
<p style="color:white;">2. Ozone (O3): Ozone is a reactive gas molecule present in the Earth's atmosphere. While ozone in the stratosphere protects us from the sun's ultraviolet radiation, ground-level ozone is a major component of smog and can cause respiratory issues, especially in vulnerable populations.</p>
<p style="color:white;">3. Nitrogen Dioxide (NO2): Nitrogen dioxide is a reddish-brown gas produced by burning fossil fuels, primarily from vehicle emissions and industrial activities. Exposure to NO2 can irritate the airways, exacerbate respiratory conditions such as asthma, and contribute to the formation of other air pollutants.</p>
<p style="color:white;">4. Sulfur Dioxide (SO2): Sulfur dioxide is a gas produced by burning fossil fuels containing sulfur, such as coal and oil, and industrial processes like metal smelting. It can cause respiratory problems, particularly in individuals with asthma, and contribute to the formation of particulate matter and acid rain.</p>
<p style="color:white;">5. Carbon Monoxide (CO): Carbon monoxide is a colorless, odorless gas produced by incomplete combustion of carbon-containing fuels, such as gasoline, natural gas, and wood. High levels of CO can be lethal, as it interferes with the body's ability to transport oxygen in the bloodstream.</p>

</body>
</html>